.weather-data {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.container-fluid {
  padding: 30px;
  max-width: 800px;
  padding-top: 5%;

}

.weather-widget {
  overflow: hidden;
}

.weather-data-right {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;

}

.weather-text {
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}

.weather-temp {
  color: #202124;
  display: flex;
}

.temperature {
  font-size: 3rem;
}

.country-list {
  list-style-type: none;
}

.country-list-item {
  padding: 5px 10px;
  width: 100%;
}

.country-list-item:hover {
  cursor: pointer;
}


.temp-unit:hover {
  cursor: pointer;
  color: #2828bc;
}

.temp-unit {
  color: #70757a;
  padding-right: 2px;
  padding-left: 2px;
  font-weight: 100;
}

.temp-unit.active {
  font-weight: 500;
}

hr {
  display: block;
  border: 3px inset;
  overflow: hidden;
  max-width: 50%;
}

.city-name {
  padding-top: 15px;
}

.input-lg {
  max-width: 700px;
  border-style: none none solid none;
}

.input-lg:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.weather-img {
  max-height: 80px;
}

.weather-forecast-img {
  max-width: 60px;
}

.forecast {
  max-width: 55px;
  text-align: center;
  justify-content: center;
}

.forecast-container {

  max-width: fit-content;
  display: inherit;
  padding: 10px 35px 30px 34px;
  border-radius: 5px;

}

.forecast-container:hover {

  background: #efeff1;
  cursor: pointer;

}


.dropdown-menu {
  width: 700px;
}

.dropdown-menu.active {
  display: block;
}

.weather-text.right {
  float: right;
  padding-right: 50%;
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    padding: 20px;
  }

  .weather-text.right {
    float: right;
    padding-right: 40px;
  }

  .forecast-container {
    padding: 28px;
  }

  .forecast-card {
    justify-content: center;
  }
}